/* Import Star Jedi font */
@import url('https://fonts.cdnfonts.com/css/star-jedi');

/* Tailwind layers (must be at the top) */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Star Wars font class */
.font-starwars {
  font-family: 'Star Jedi', sans-serif !important;
}

/* Floating up-and-down animation */
@keyframes floatUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-float-updown {
  animation: floatUpDown 4s ease-in-out infinite;
}




/* Star Wars-like page transition animations */
.fade-enter {
  opacity: 0;
  transform: scale(1.2) rotateX(45deg);
}
